body {
    user-select: none !important;
    font-family:  Arial, Helvetica, sans-serif !important;
    color: red !important;
}

/* #region General Settings */

.hidden {
    visibility: hidden !important;
    height: 0px !important;
    display:none !important;
}

.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.list-vertical {
}

    .list-vertical > li {
        margin-bottom: 8px;
        display: block !important;
        vertical-align: top !important;
    }

.list-horizontal {
}

    .list-horizontal > li {
        display: inline-block !important;
        margin-right: 5px;
        margin-bottom: 8px;
        vertical-align: top;
    }

.list-data {
    background-color: white;
    border: 1px solid #cecece;
    border-radius: 5px;
}

    .list-data li {
        border-bottom: 1px solid #cecece;
        margin: 5px 10px 10px 10px;
        padding: 10px;
        position:relative;
     
    }

    .list-data li label:first-child {
        font-weight:bold;
        
    }
    .list-data li label:last-child {
        position:absolute;
        right:0px;

        
    }


        .list-data li:last-child {
            border-bottom: 0px solid #cecece;
        }

        
.list-tab {

    margin-left :auto;
    margin-right:auto;
    text-align:center;

}

.list-tab .selected{
    background-color:gray;
    color:white;
}

.list-tab li{
    min-width:60px;
    padding:10px;
    border:1px solid gray;
       cursor:pointer;
       
}

/* #endregion*/

.app {
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    left: 0px;
    z-index: 900 !important;
    top: 0px;
    width: 100%;
    height: 100%;
    /*background-color: #f0f0f0;*/
}

.base_component {
    position: relative;
    z-index: 100;
}

.head_component {
    top: 0px;
    background-color: rgba(31, 110, 176, 0.85);
    /*background-color: #1f6eb0;*/
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 100;
    z-index: 800;
}

    .head_component.slider_visible {
        left: 25%;
    }

.loading-rotator {
    top:20px;
    width: 20px;
    height: 20px;
    /*border: 3px solid white;*/
    position: absolute;
}

.head_wrapper {
}



    .head_wrapper .head-left {
        /*background-color:red;*/
        width: 60px;
        height: 60px;
        float: left;
    }

        .head_wrapper .head-left #head_left_action .icon-32-frame {
            margin-top: 8px;
            margin-left: 10px;
            border: 3px solid white;
            border-radius: 8px;
            padding-left: 5px;
            padding-top: 3px;
            cursor: pointer;
            padding-bottom: 3px;
        }

    .head_wrapper .head-center {
        /*background-color:violet;*/
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: 60px;
        text-align: center;
    }

    .head_wrapper .head-right {
        /*background-color:red;*/
        width: 60px;
        height: 60px;
        float: right;
    }

.slider_component {
    /*background-color: rgba(0, 91, 255, 0.90);*/
    /*background-color: #0f82ff;*/
    background-color: #e6e6e6;
    color: #606060;
    position: absolute;
    top: 0px;
    width: 45%;
    height: 100%;
    z-index: 900;
    left: -50%;
    box-shadow: 0px 0px 10px 0px #4d4d4d;
}

    .slider_component.slider_visible {
        left: 0px;
    }

    .slider_component .slider-top-logo {
        background-color: white;
        padding: 10px;
    }

.content_component {
    color: #606060;
    background-color: #e6e6e6;
    /*background-color:white;*/
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: 100;
    overflow: auto;
}

    .content_component.slider_visible {
        left: 25%;
    }

.content_wrapper {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 70px;
}

.loading_background {
    background-color: rgba(0, 0, 0, 0.51);
    /*background-color: rgba(0, 0, 0, 1);*/
}

.overlap {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.38);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

/* #region Scrollbar*/

.mCSB_inside > .mCSB_container {
    margin-right: 5px;
}

.mCSB_draggerRail {
    background-color: transparent !important;
}

.mCSB_dragger_bar {
    /*color:red !important;*/
    background-color: #989898 !important;
    /*border-color:red !important;*/
}
/* #endreigon*/
