
.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.list-vertical {
}

    .list-vertical > li {
        margin-bottom: 8px;
        display: block !important;
        vertical-align: top !important;
    }

.list-horizontal {
}

    .list-horizontal > li {
        display: inline-block !important;
        margin-right: 5px;
        margin-bottom: 8px;
        vertical-align: top;
    }


.page {
    position: absolute;
    overflow:auto;
    font-family:Calibri;
    height: 100%;
    width: 100%;
    /*background-image: radial-gradient( circle, #067eff, #7db9e8 );*/
    /*background-image: radial-gradient( circle, #1e5799, #7db9e8);*/
    background-color:#1e5799;
    left: 0px;
    top: 0px;
}

h1
{
    /*color: #6f6f6f;*/
    /*color:#4f4f4f;*/
    color:white;
    font-size: 35px;
    margin: 0px;
    padding: 0px;
}

h2
{
    color:white;
    font-weight: normal;
}

.login-wrapper {
    position: relative;
    width: 75%;
    margin-top: 30%;
    /*min-height: 450px;*/
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: white;*/
    /*border-radius: 5px;*/
    /*box-shadow: 0 0 15px 0px black;*/
    text-align: center;
    padding: 20px;
}

.login-input {
    height: 50px;
    width: 100%;
    font-size: xx-large;
    text-align:center;
    margin-bottom:10px;
    
}

.login-button {

    height:50px;
    background-image:none;
    background-color:gray;
    padding-left:10px !important;
    padding-right:10px !important;
    font-size:20px;
    color:white;
    border:none;
}
