<!DOCTYPE html>
<html>
<head>

    <title>PO.Application.Mobile</title>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="scripts/platformOverrides.js"></script>
    <script type="text/javascript" src="scripts/index.js"></script>


    <script src="assets/lib/underscore.js"></script>
    <script src="assets/lib/backbone.js"></script>
    <script src="assets/lib/dataManager.js"></script>
    <script src="assets/lib/dataHandler.js"></script>
    <script src="assets/lib/helper.js"></script>

    <link href="assets/css/app.css" rel="stylesheet" />

    <script src="app/Application.js"></script>
    <script src="app/view/Payments.js"></script>
    <script src="app/model/Payment.js"></script>
    <script type="text/template" id="details">
        <div class="data-list">
            <ul>
                <% _.each(collection, function(item) { %>
                <li class="data-list-item">
                    <ul>
                        <li>
                            <%= item.PaymentDate%>
                        </li>
                        <li>
                            <%= item.PaymentGroup%> <%= item.PaymentType%>
                        </li>
                        <li>
                            <%= item.Description %> <%= item.Price%>
                        </li>
                    </ul>
                </li>
                <%})%>
            </ul>

        </div>
    </script>
    <script type="text/template" id="newPayment">
        <div class="">
            <ul class="data-new">
                <li>
                    <span>Description</span>  <input type="text" id="txtDescription" />
                </li>
                <li>
                    <span>Price</span><input type="number" id="txtnPrice" />
                </li>
                <li>
                    <span>Group</span>
                    <select id="slctGroup">
                        <option value="1">Gruppe1</option>
                    </select>
                </li>
                <li>
                    <span>Type</span>
                    <select id="slctType">
                        <option value="1">Typ1</option>
                    </select>
                </li>
            </ul>
            <br />
            <div onclick="addPayment();" class="button"><span>Add New</span></div>
        </div>
        <script type="text/javascript">

            function addPayment() {
                console.dir($("#txtnPrice"));
                DataHandler.addPayment({
                    description: $("#txtDescription")[0].value,
                    price: $("#txtnPrice")[0].valueAsNumber,
                    addonText:'',
                    typeId: $("#slctType").val(),
                    groupId: $("#slctGroup").val()
                }, function (t) {
                    console.dir(t);
                });
            }
        </script>
    </script>


    <script type="text/javascript">
        var app;
        $(document).ready(function () {
            console.dir(DataHandler);
            app = new Application();


            Application.prototype.slider = { visible: false };



            $(".drawer").click(function () {
                console.dir(app.slider.visible);
                if (app.slider.visible == false) {
                    console.dir("show");
                    app.slider.visible = true;
                    $(".slider").addClass("show");
                    $(".slider").removeClass("hide");
                }
            });
            $("#sliderClose").click(function () {
                if (app.slider.visible == true) {
                    console.dir("hide");

                    app.slider.visible = false;
                    $(".slider").removeClass("show");
                    $(".slider").addClass("hide");

                }
            });
        });

        $(document).on(DataManager.events.ajaxLoadStart.name, function () {
            $("#loader").removeClass("hidden");
        });

        $(document).on(DataManager.events.ajaxLoadReady.name, function () {
            $("#loader").addClass("hidden");
        });


    </script>
    <div class="slider">
        <ul>
            <li><a href="#paymentList">Payments</a></li>
            <li><a href="#paymentAdd">AddPayment</a></li>
        </ul>
        <div id="sliderClose">Close</div>
    </div>
    <div class="app">
        <header>
            <div class="drawer">
            </div>
            <div class="title">
                PaymentOverview
            </div>
            <div id="loader" class="hidden"></div>
        </header>
        <content>
            <div class="content-view">
                <div id="contentView">
                </div>
            </div>
        </content>
    </div>
</body>
</html>
