<!DOCTYPE html>
<html>
<head>

    <title>PO.Application.Mobile</title>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="scripts/platformOverrides.js"></script>
    <script type="text/javascript" src="scripts/index.js"></script>


    <script src="assets/lib/underscore.js"></script>
    <script src="assets/lib/backbone.js"></script>
    <script src="assets/lib/dataManager.js"></script>
    <script src="assets/lib/dataHandler.js"></script>
    <script src="assets/lib/helper.js"></script>
    <script src="assets/lib/localStorage.js"></script>

    <link href="assets/css/app.css" rel="stylesheet" />
    <link href="assets/css/element.css" rel="stylesheet" />

    <script src="app/Application.js"></script>
    <script src="app/view/Payments.js"></script>
    <script src="app/view/Load.js"></script>

    <script src="app/model/Payment.js"></script>

    <script type="text/template" id="preLoad">



        <div id="preLoader" style="height:200px;width:100%">
            <svg expanded="true" height="100%" width="100%">
                <circle class="innerCircle" cx="50%" cy="50%" r="0%" fill="none" stroke="#000000" stroke-width=41%">
                    <animate attributeType="SVG" attributeName="r" begin="0s" dur="3s" repeatCount="indefinite" from="0%" to="25%" />
                    <animate attributeType="CSS" attributeName="stroke-width" begin="0s" dur="3s" repeatCount="indefinite" from="4%" to="0%" />
                    <animate attributeType="CSS" attributeName="opacity" begin="0s" dur="3s" repeatCount="indefinite" from="1" to="0" />
                </circle>


                <circle class="innerCircle" cx="50%" cy="50%" r="0%" fill="none" stroke="#000000" stroke-width="2%">
                    <animate attributeType="SVG" attributeName="r" begin="1.5s" dur="4s" repeatCount="indefinite" from="0%" to="50%" />
                    <animate attributeType="CSS" attributeName="stroke-width" begin="1.5s" dur="4s" repeatCount="indefinite" from="2%" to="0%" />
                    <animate attributeType="CSS" attributeName="opacity" begin="1.5s" dur="4s" repeatCount="indefinite" from="1" to="0" />
                </circle>


                <!--<circle id="circle1" class="innerCircle" cx="50%" cy="50%" r="2%" fill="none" stroke="#000000" stroke-width="5%"></circle>
                <circle id="circle2" class="innerCircle" cx="50%" cy="50%" r="%" fill="none" stroke="#000000" stroke-width="5%"></circle>

                <animate xlink:href="#circle1" attributeType="SVG" attributeName="r" begin="0s" dur="2s" repeatCount="indefinite" from="5%" to="25%" />
                <animate xlink:href="#circle1" attributeType="CSS" attributeName="stroke-width" begin="0s" dur="2s" repeatCount="indefinite" from="3%" to="0%" />
                <animate xlink:href="#circle1" attributeType="CSS" attributeName="opacity" begin="0s" dur="2s" repeatCount="indefinite" from="1" to="0" />-->

            </svg>
            <span>
                Loading ....
            </span>
        </div>

    </script>


    <script type="text/template" id="details">

        <div style="margin-bottom:20px;text-align:center">
            <ul class="list list-horizontal">
                <li>
                    <div class="nav-button selected">
                        <a href="#paymentToday">
                            <span>Today</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="nav-button">
                        <a href="#paymentWeek">
                            <span>Week</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="nav-button">
                        <a href="#paymentMonth">
                            <span>Month</span>
                        </a>
                    </div>
                </li>
            </ul>

        </div>
        <div class="data-list">
            <ul>
                <% _.each(collection, function(item) { %>
                <li class="data-list-item">
                    <ul>
                        <li>
                            <%= item.PaymentDate%>
                        </li>
                        <li>
                            <%= item.PaymentGroup%> <%= item.PaymentType%>
                        </li>
                        <li>
                            <%= item.Description %> <%= item.Price%>
                        </li>
                    </ul>
                </li>
                <%})%>
            </ul>

        </div>
    </script>
    <script type="text/template" id="newPayment">
        <div class="">
            <ul class="list data-new">
                <li>
                    <span>Type</span>
                    <select id="slctType">
                        <% _.each(types, function(item) { %>
                        <option value="<%= item.Id %>"><%= item.Description %></option>
                        <%})%>
                    </select>
                </li>
                <li>
                    <span>Description</span>  <input type="text" id="txtDescription" />
                </li>
                <li>
                    <span>Price</span><input type="number" id="txtnPrice" />
                </li>
                <li>
                    <span>Group</span>
                    <select id="slctGroup">
                        <% _.each(groups, function(item) { %>
                        <option value="<%= item.Id %>"><%= item.Description %></option>
                        <%})%>
                    </select>
                </li>
            </ul>
            <br />
            <div onclick="addPayment();" class="button add"><span>Add New</span></div>
        </div>
        <script type="text/javascript">

            function addPayment() {
                DataHandler.addPayment({
                    description: $("#txtDescription")[0].value,
                    price: $("#txtnPrice")[0].valueAsNumber,
                    addonText: '',
                    typeId: $("#slctType").val(),
                    groupId: $("#slctGroup").val()
                }, function (t) {
                    console.dir(t);
                });
            }
        </script>
    </script>


    <script type="text/javascript">
        var app;
        //$(".nav-button").click(function () {
        //    console.dir("clicked nav ^button");
        //    $(".nav-button").removeClass("selected");
        //    $(this).parent.addClass("selected");
        //});


        $(".nav-button").click(function () {

            alert("click");
        });
        $(document).ready(function () {



            app = new Application();
            app.sliderManager.slider = ".slider";

            $(".drawer").click(function () {
                app.sliderManager.showSlider();
            });
            $("#sliderClose").click(function () {
                app.sliderManager.hideSlider();
            });
        });

        $(document).on(DataManager.events.ajaxLoadStart.name, function () {
            $("#loader").removeClass("hidden");
        });
        $(document).on(DataManager.events.ajaxLoadReady.name, function () {
            $("#loader").addClass("hidden");
        });
    </script>
    <div class="slider">
        <ul>
            <li><a href="#paymentToday">Payments</a></li>
            <li><a href="#paymentAdd">AddPayment</a></li>
        </ul>
        <div id="sliderClose">Close</div>
    </div>

    <div class="app">
        <header>
            <div class="drawer">
                <svg width="43" height="43">
                    <rect x="1" y="1" width="40" height="40" rx="3" ry="3" color="blue" fill="none" stroke="white" stroke-width="2" />
                    <line x1="7" y1="13" x2="35" y2="13" stroke="white" stroke-width="3" stroke-linecap="round"></line>
                    <line x1="7" y1="21" x2="35" y2="21" stroke="white" stroke-width="3" stroke-linecap="round"></line>
                    <line x1="7" y1="29" x2="35" y2="29" stroke="white" stroke-width="3" stroke-linecap="round"></line>

                </svg>
            </div>
            <div class="title">
                <span class="pt1">Pay</span><span class="pt2">ment</span><span class="pt1">Ov</span><span class="pt2">erview</span>
            </div>
            <div id="loader" class="hidden"></div>
        </header>
        <content>
            <div class="content-view">
                <div id="contentView">
                </div>
            </div>
        </content>
    </div>
</body>
</html>
