body {
    font-family: Calibri;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.app {
    left: 0px;
    top: 0px;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

header {
    z-index: 1000;
    position: fixed;
    height: 40px;
    width: 100%;
    background-color: #0094ff;
    top: 0px;
    left: 0px;
}


content {
    z-index: 500;
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0px;
}

.hidden {
    visibility: hidden;
}

header .drawer {
    top: 3px;
    left: 3px;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    cursor: pointer;
    z-index: 500;
}
header .title{
    position:absolute;
    top:5px;
    left:100px;
    font-size:22px;
    color:white;
}



.slider {
    position: absolute;
    width: 250px;
    background-color: rgba(72, 72, 72, 0.78);
    height: 100%;
    top: 0px;
    left: -300px;
    z-index: 2000;
    color: white !important;
}

    .slider ul li {
        margin: 20px;
    }

        .slider ul li a {
            color: white;
            text-decoration: none;
        }

    .slider.show {
        animation: slider-show 1s forwards;
    }

@-webkit-keyframes slider-hide {
    0% {
        left: 0px;
    }

    100% {
        left: -300px;
    }
}

.slider.hide {
    animation: slider-hide 1s forwards;
}

@-webkit-keyframes slider-show {
    0% {
        left: -300px;
    }

    100% {
        left: 0px;
    }
}

#loader {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 15px;
    height: 15px;
    /*background-color: #808080;*/
    border: 4px solid white;
    transform: rotate();
    animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

#paymentList {
}

.button {
    display: block;
    height: 50px;
    border-radius: 10px;
    background-color: #075fcb;
    position: relative;
    cursor: pointer;
}

    .button > span {
        padding-top: 10px !important;
        font-size: 23px;
        display: block;
        color: white;
        text-align: center;
        font-weight: bold;
    }

    .button .button-large {
        width: 100%;
    }

    .button .button-small {
        width: 25%;
    }


.content-view {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

    .content-view .data-list {
        border: 1px solid grey;
        border-radius: 5px;
        list-style: none !important;
        padding: 10px;
    }

        .content-view .data-list .data-list-item {
            border-bottom: 1px solid grey;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

    .content-view .data-new li {
        margin-bottom: 10px;
    }

        .content-view .data-new li span {
            font-size: 14px;
            margin-bottom: 5px;
            color: grey;
            display: block;
            width: 100px;
        }

        .content-view .data-new li input,
        .content-view .data-new li select {
            display: block;
            border: 1px solid rgba(154, 153, 153, 0.70);
            height: 40px;
            width: 100%;
            border-radius: 10px;
        }
