body {
}

.k-tooltip {
    padding: 0px;
    background-color: white !important;
    background-image: none !important;
    border: none !important;
    color: black;
}

.chart-tooltip {
    text-align: left;
    border:1px solid gray;
}

    .chart-tooltip .header {
        font-weight: bold;
        background-color:gray;
        color:white;
        border-bottom:1px solid gray;
        padding:2px;
    }

    .chart-tooltip.list-vertical {
        margin: 0px !important;
        
    }
    .chart-tooltip.list-vertical li {
        padding:2px !important;
    }

.list-tab {

    margin-left :auto;
    margin-right:auto;
    text-align:center;

}

.list-tab .selected{
    background-color:gray;
    color:white;
}

.list-tab li{
    width:60px;
    padding:10px;
    border:1px solid gray;
       cursor:pointer;
}

#dasbhoard_tablist{
    padding-top:20px;
    padding-bottom:20px;
}